// Import Bulma's core

@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #BE0004;
$primary-invert: findColorInvert($primary);





$link: $blue;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$dark: $grey-darker;
$text: $grey-dark;


$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);
$navbar-item-color : "red";
// $navbar-height: 7vh;
// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$modal-content-spacing-mobile: 100px;
$modal-content-spacing-tablet:100px;


// / for vote section
$tabs-toggle-link-active-background-color: lightgray;
$tabs-toggle-link-active-border-color: lightgray;
// $tabs-boxed-link-active-background-color: lightgray;
// Import Bulma and Buefy styles

